In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('Final_Data.csv')
df_winning = pd.read_csv('Winning-members-(Friday-1720).csv')

In [13]:
df.sample(5)

,voteCount,votePercentage,votePercentageChange,candidate_firstName,candidate_surname,party_abbreviation,party_name,party_displayName,Electorate_size,Turnout_perc,new_party,old_party,constituency,index
187,14008,33.624580,-4.812010,Claire,Hughes,Lab,Labour,Lab,69026,60.354069,Labour,Conservative,Bangor Aberconwy,28
4391,3631,6.724199,-3.133651,Monica,Hamidi,Lab,Labour,Lab,74137,72.836775,Liberal Democrat,Conservative,Wokingham,633
3657,9086,19.782277,6.565254,Paul,Hilliar,Lab,Labour,Lab,75990,60.442163,Conservative,Conservative,South Holland and The Deepings,524
824,12247,26.654044,-12.226836,Lucy,Beattie,SNP,Scottish National Party,SNP,74627,61.570209,Liberal Democrat,Scottish National Party,"Caithness, Sutherland and Easter Ross",118
596,3345,10.123479,10.123479,Rehiana,Ali,Ind,Independent,Ind,71002,46.536717,Labour,Labour,Bradford South,85

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4515 entries, 0 to 4514
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   voteCount             4515 non-null   int64
 1   votePercentage        4515 non-null   float64
 2   votePercentageChange  4515 non-null   float64
 3   candidate_firstName   4515 non-null   object
 4   candidate_surname     4515 non-null   object
 5   party_abbreviation    4515 non-null   object
 6   party_name            4515 non-null   object
 7   party_displayName     4515 non-null   object
 8   Electorate_size       4515 non-null   int64
 9   Turnout_perc          4515 non-null   float64
 10  new_party             4515 non-null   object
 11  old_party             4515 non-null   object
 12  constituency          4515 non-null   object
 13  index                 4515 non-null   int64
dtypes: float64(3), int64(3), object(8)
memory usage: 494.0+ KB

In [15]:
df['constituency'].nunique()

650

In [24]:
df_winning.head(5)

,ons_id,constituency,region_name,country_name,constituency_type,time_recorded,result,party_abbreviation,party_name,title,firstname,surname,middlenames,mnis_id,gender,candidate_type,old_constituency
0,W07000081,Aberafan Maesteg,Wales,Wales,County,05-07-2024 04:07,Lab hold,Lab,Labour,NaN,Stephen,Kinnock,NaN,4359.0,Male,Re-elected Member,Aberavon
1,S14000060,Aberdeen North,Scotland,Scotland,Borough,05-07-2024 05:00,SNP hold,SNP,Scottish National Party,NaN,Kirsty,Blackman,Ann,4357.0,Female,Re-elected Member,Aberdeen North
2,S14000061,Aberdeen South,Scotland,Scotland,Borough,05-07-2024 05:02,SNP hold,SNP,Scottish National Party,NaN,Stephen,Flynn,Mark,4735.0,Male,Re-elected Member,Aberdeen South
3,S14000062,Aberdeenshire North and Moray East,Scotland,Scotland,County,05-07-2024 05:47,SNP gain from Con,SNP,Scottish National Party,NaN,Seamus,Logan,NaN,NaN,Male,New member,NaN
4,S14000063,Airdrie and Shotts,Scotland,Scotland,County,05-07-2024 05:04,Lab gain from SNP,Lab,Labour,NaN,Kenneth,Stevenson,NaN,NaN,Male,New member,NaN

In [23]:
df_winning = df_winning.rename(columns={'constituency_name': 'constituency'})

In [28]:
result = df.merge(df_winning[['constituency', 'region_name', 'country_name', 'constituency_type', 'result','ons_id' ]], on='constituency', how='left')

In [37]:
result.head(5)

,ons_id,constituency,region_name,country_name,constituency_type,candidate_firstName,candidate_surname,party_abbreviation,party_name,party_displayName,voteCount,votePercentage,votePercentageChange,Electorate_size,Turnout_perc,new_party,old_party,index,result
0,W07000081,Aberafan Maesteg,Wales,Wales,County,Stephen,Kinnock,Lab,Labour,Lab,17838,49.889526,-3.031258,72467,49.339699,Labour,Labour,1,Lab hold
1,W07000081,Aberafan Maesteg,Wales,Wales,County,Mark,Griffiths,Reform,Reform UK,Reform,7484,20.931338,12.390717,72467,49.339699,Labour,Labour,1,Lab hold
2,W07000081,Aberafan Maesteg,Wales,Wales,County,Colin,Deere,PC,Plaid Cymru,PC,4719,13.198154,4.214069,72467,49.339699,Labour,Labour,1,Lab hold
3,W07000081,Aberafan Maesteg,Wales,Wales,County,Abigail,Mainon,C,Conservative,Con,2903,8.119144,-14.508774,72467,49.339699,Labour,Labour,1,Lab hold
4,W07000081,Aberafan Maesteg,Wales,Wales,County,Nigel,Hill,Green,Green,Green,1094,3.059712,1.481701,72467,49.339699,Labour,Labour,1,Lab hold

In [30]:
result.columns

Index(['voteCount', 'votePercentage', 'votePercentageChange',
       'candidate_firstName', 'candidate_surname', 'party_abbreviation',
       'party_name', 'party_displayName', 'Electorate_size', 'Turnout_perc',
       'new_party', 'old_party', 'constituency', 'index', 'region_name',
       'country_name', 'constituency_type', 'result', 'ons_id'],
      dtype='object')

In [32]:
new_order = ['ons_id','constituency','region_name','country_name', 'constituency_type',
             'candidate_firstName', 'candidate_surname','party_abbreviation', 'party_name', 'party_displayName', 
             'voteCount', 'votePercentage', 'votePercentageChange','Electorate_size', 'Turnout_perc',
             'new_party', 'old_party','index',  'result' ]

In [33]:
result = result.reindex(columns=new_order)

In [39]:
result.drop('index', inplace=True, axis=1)

In [40]:
result.to_csv('Uk-2024-General-Election-Data.csv', index=False)